.splitmessages{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    /* background-color: rgb(189,116,170); */
  }

  .chatbox{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 280px;
    right: 0;
    /* background-color: white; */
  }

.bottom{
  text-align:center;
  /* position: relative; */
  left: 0px;
  height: 100px;
  width: 100%;
  background-color:rgb(161, 80, 140);
  position: absolute;
  bottom: 0px;
}

.container {
  border: 2px solid #dedede;
  background-color: rgb(99,142,182);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  left:50px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: rgb(99, 142, 182);
}


/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.right-time {
  float: right;
  color: #aaa;
}

/* Style time text */
.left-time {
  float: left;
  color: #999;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

body {
  background-image: url('https://photos.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvMjgxNTAzNDIvYzcxODJkYzIzN2JiOTI2MWI1NWVjMTM1NjNlNTU2MzguanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjoyMDQ4LCJoZWlnaHQiOjIwNDgsImZpdCI6Imluc2lkZSJ9LCJyb3RhdGUiOm51bGwsImpwZWciOnsidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWlzZVNjYW5zIjp0cnVlLCJxdWFudGlzYXRpb25UYWJsZSI6M319fQ==') ;
  color: #FFFFFF;
  background-size: cover;
}

.contactForm{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contactForm h2{
  font-size: 30;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
}

.contactForm p{
  font-size: 15px;
  margin: 15px o;
}

.contactForm input{
  font-size: 15px;
  padding: 15px 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline-color: #000;

}

button{
  background-color: rgb(155, 46, 128);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;

}

button:hover{
  background-color: transparent;
  border: 2px solid rgb(219, 32, 110);
  cursor: pointer;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #1f1e1e;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #1d1b1b;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}