.channel {
width: 200px; 
float: left; 
height: 200px; 
background: rgb(189,116,170); 
margin: 10px; 
text-align: center; 
vertical-align: middle; 
line-height: 150px;
   
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg') ;
  color: #FFFFFF;
  background-size: cover;
}

.row{
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .35s;
}

.row:hover{
  transform: translateY(10px);
}

